mat-card {
    margin: 4px 2px;
    padding: 8px;
    mat-card-content {
        margin: 0;
    }
    &:hover {
        background: #ebecf0;
    }
    mat-icon {
        &.critical {
            color: orangered;
        }
        &.high {
            color: darkorange;
        }
        &.medium {
            color: dodgerblue;
        }
        &.low {
            color: limegreen;
        }
    }
}