<div class="container">
  <div class="issue-options">
    <div class="issues-view">
      <button mat-button routerLink="./kanban" routerLinkActive="active">Kanban</button>
      <button mat-button routerLink="./list" routerLinkActive="active">List</button>
    </div>
    <div class="filter-options"></div>
    <div class="actions">
      <button
        class="create-issue"
        color="accent"
        mat-flat-button
        (click)="createIssue()"
      >
        Create Issue
      </button>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
